* text=auto eol=lf
*.bat text eol=crlf

README          text
LICENSE         text
CONTRIBUTING    text

.gitignore      text
*.gitattributes text
*.xcconfig      text
*.md            text diff=markdown

#
# Exclude files from exporting
#
.gitattributes  export-ignore
.gitignore      export-ignore

*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.so binary

# Linguist language overrides
*.xcconfig linguist-language=kotlin
